import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import pymongo
import streamlit as st
import plotly.express as px
from streamlit_option_menu import option_menu
from PIL import Image
import base64
